html,
body {
	width: 100%;
}

body {
	background-image: url("images/fast-and-furious-8.jpg");
	font-family: 'Anton', sans-serif;
}

img {
	 box-shadow: 10px 10px 5px #f2984a;
}


/*======NAVIGATON========*/
#main-nav {
	width: 10%;
	padding: 0;
	margin-top: 400px;
	//background-color: red;
}

#main-nav ul {
	list-style-type: none;
}

#main-nav li {
	font-size: 20px;
	display: block;
	padding: 10px 0 10px 0; 
}

#main-nav a {
	text-decoration: none;
	color: yellow;
	color: #f2984a;
}

#main-nav a:hover {
	color: purple;
    text-shadow: 2px 2px 4px #ffffff;
	//background-color: green;
}

/*======MAIN========*/
main {
	position: absolute;
	top: 450px;
	right: 0;
	bottom: 10px;
	left: 750px;
	width: 300px;
	height: 250px;
	color: red;
	//background-color: white;
}


/*======FOOTER========*/
footer {
	width: 100%;
	padding: 1px 0 10px 0;
	margin-left: 40px;
	text-align: left;
	font-size: 10px;
	clear: both;
	color: #8e8985;
	//background-color: yellow;
}



